<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edutecav1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdutecaV1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".InsertLivro"
            android:exported="false" />
        <activity
            android:name=".Detail"
            android:exported="false" />
        <activity
            android:name=".Header"
            android:exported="false" />
        <activity
            android:name=".Base"
            android:exported="false" />
        <activity
            android:name=".WebView"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:theme="@style/Theme.MenuUser" />
        <activity
            android:name=".CreateUser"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>